body {
    margin: 0;
    font-family: 'Courier';
}

#wrapper {
    text-align: center;
    margin-bottom: 35px;
}

#footer {
    position : fixed;
    bottom : 0;
    width: 100%;
    text-align: center;
    background-color: #0099ff;
    color: #fff;
    vertical-align: bottom;
}

#outcomes {
    width: 25px;
    text-align: right;
    margin-right: 10px;
    display: none;
}

#content {
    padding-bottom: 65px;
}

#advancementName {
    margin-right: 5px;
}

#addAdvancementModal {
    margin-right: 5px;
}

#blanket {
    visibility: hidden;
    position: fixed;
    background: #fff;
    opacity: 0.9;
    z-index: 9998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#resetGameModal {
    padding: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
    background: #fff;
}

#outcomeResultModal {
    padding: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
    background: #fff;
    vertical-align: middle;
}

#outcomeResultModal .outcome {
    display: block;
}

#resetGameModal span {
    margin: 0 5px 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#newAdvancementModal span, .selection {
    font-family: 'Courier' ;
    font-weight: bold ;
    padding: 5px;
    border: 1px solid black ;
    -moz-border-radius: 8px ;
    -webkit-border-radius: 8px ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    background-color: white ;
    color: #000;
    cursor: pointer;
}

#newAdvancementModal span {
    display: inline-block;
}

#newAdvancementModal span.disabled {
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
}

.selection {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#newAdvancementModal {
    padding: 10px;
    overflow: auto;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
    background: #fff;
    vertical-align: middle;
}

#numberOfOutcomes {
    width: 100%;
    background: #ccc;
    margin-bottom: 5px;
}

#numberOfOutcomes span {
    width: 10%;
    background: #eee;
}

#numberOfOutcomes span.selected {
    border: 4px #00f solid;
    background: #fff;
}

#numberOfOutcomes span.warning {
    border: 4px #f00 solid;
}